@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Coming+Soon&display=swap');
:root{
  --font-anonymous: 'Anonymous Pro', monospace;
  --font-coming: 'Coming Soon', cursive;
}

body {
  margin: 0;
  background: #536976;
  background: #acb6e5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-sizing: border-box;
  min-height: 100vh;
  height: inherit;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}