.body-size {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.card {
    width: 60%;
}

.card .card-header {
    font-size: 24px;
    font-family: var(--font-anonymous);
}


.card-body .card-title {
    font-size: 16px;
    font-family: var(--font-coming);
}

.card-body input {
    display: flex;
    width: 100%;
    padding: 5px 10px;
    color: blueviolet;
    font-size: 16px;
    font-family: var(--font-coming);
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #BBCAEA;
}

.card-body button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px 10px;
    background: #BBCAEA;
    border: 1px solid #BBCAEA;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-family: var(--font-coming);
    line-height: 16px;
}

.card-body button img {
    width: 25px;
    height: 25px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, 200px);*/
    grid-gap: 10px 10px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.wrapper .gif-item img {
    display: flex;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.error {
    font-size: 18px;
    font-family: var(--font-coming);
    margin-top: 2rem;
    color: red;
}


@media screen and (max-width:640px) {
    .wrapper {
        height: 100%;
        padding-bottom: 0;
    }

    .card {
        width: 100%;
    }

    .card-body input {
        margin-bottom: 1rem;
    }

    .body-size {
        padding-bottom: 3rem;
    }

    .wrapper .gif-item img {
        height: 110px;
    }
}