footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #DFDDE1;
    padding: 1rem 0;
}

footer h2 {
    font-family: var(--font-anonymous);
    font-size: 20px;
}

footer h3 {
    font-family: var(--font-coming);
    ;
    font-size: 16px;
}

.padBottom {
    padding-bottom: 1rem;
}

@media screen and (max-width:640px) {
    footer {
        position: relative;
    }

    footer h2 {
        font-family: var(--font-anonymous);
        font-size: 16px;
    }
    
    footer h3 {
        font-family: var(--font-coming);
        font-size: 12px;
    }
}