.bg-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

nav .text-nav {
    font-family: var(--font-anonymous);
    gap: 10px;
    font-size: 24px;
}