.notResult {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.notResult p {
    font-size: 24px;
    font-family: var(--font-coming);
}

.notResult .box-notResult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:640px) {
    .notResult {
        width: 100%;
        padding: 1rem 1rem;
    }

    .notResult p {
        font-size: 18px;
        font-family: var(--font-coming);
    }

    .notResult .box-notResult img {
        padding: 0 1rem;
        width: 100%;
    }
}